---
import Philosophy from "../components/elements/Philosophy.astro";
import Portaid from "../components/elements/Portaid.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="home-page">

		<Portaid link="#philosophy" />

		<section id="philosophy" class="container">
			<Philosophy />
		</section>
	</main>
</Layout>

<style>
	.home-page {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
</style>