---

---

<a href="https://calendar.app.google/c9d2SqsccCBPJf5H8" target="_blank" class="meeting_button">Let's start a meeting</a>

<style>
    .meeting_button{
		background-color: var(--black);
		color: var(--accent);
		border: 2px solid var(--accent);
		padding: .5em 1.5em;
		border-radius: 1.2em;
		text-decoration: none;
		font-size: .7em;
		font-weight: 300;
		text-transform: uppercase;
		transition: all .3s, color .3s;
		filter: drop-shadow(0 0 1.5rem var(--black));
	}
	
	.meeting_button:hover{
		background-color: var(--accent);
		color: var(--black);
		filter: drop-shadow(0 0 1.5rem var(--accent));
	}
</style>